{
  "swagger": "2.0",
  "info": {
    "description": "El login exitoso de UserService devuelve un Colaborador con un campo \"token\".\nDicho token se debe incluir como header de las llamadas del resto de las operaciones de cada servicio.",
    "version": "1.0-SNAPSHOT",
    "title": "Sulfur backend",
    "contact": {
      "name": "rsperoni@magnesium.coop"
    }
  },
  "host": "sulfur.mgcoders.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "estimacion"
    },
    {
      "name": "cargos"
    },
    {
      "name": "proyectos"
    },
    {
      "name": "auth"
    },
    {
      "name": "reportes"
    },
    {
      "name": "tareas"
    },
    {
      "name": "colaboradores"
    },
    {
      "name": "status"
    },
    {
      "name": "horas"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/cargos": {
      "get": {
        "tags": [
          "cargos"
        ],
        "summary": "Get cargos",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Cargo"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "cargos"
        ],
        "summary": "Create Cargo",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/cargos/{id}": {
      "get": {
        "tags": [
          "cargos"
        ],
        "summary": "Get Cargo",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "post": {
        "tags": [
          "cargos"
        ],
        "summary": "Actualizar precioHora Cargo",
        "description": "",
        "operationId": "actualizarPrecioHora",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PrecioHora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "304": {
            "description": "No modificado"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      },
      "put": {
        "tags": [
          "cargos"
        ],
        "summary": "Edit cargo",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/colaboradores": {
      "get": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Get colaboradores",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Colaborador"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Create colaborador",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    },
    "/colaboradores/{id}": {
      "get": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Get colaborador",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      },
      "put": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Edit colaborador",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    },
    "/estimaciones": {
      "get": {
        "tags": [
          "estimacion"
        ],
        "summary": "Get estimaciones",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estimacion"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "estimacion"
        ],
        "summary": "Create estimacion",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Estimacion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Estimacion"
            }
          },
          "400": {
            "description": "Objeto inválido"
          },
          "500": {
            "description": "Error interno"
          },
          "401": {
            "description": "No Autorizado"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/estimaciones/proyecto/{id}": {
      "get": {
        "tags": [
          "estimacion"
        ],
        "summary": "Get estimaciones por proyecto",
        "description": "",
        "operationId": "findAllByProyecto",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estimacion"
              }
            }
          },
          "400": {
            "description": "Objeto inválido"
          },
          "401": {
            "description": "No Autorizado"
          }
        }
      }
    },
    "/estimaciones/{id}": {
      "get": {
        "tags": [
          "estimacion"
        ],
        "summary": "Get hora",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Estimacion"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "estimacion"
        ],
        "summary": "Edit estimacion",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Estimacion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Estimacion"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/horas": {
      "get": {
        "tags": [
          "horas"
        ],
        "summary": "Get horas",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Hora"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "horas"
        ],
        "summary": "Create hora",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          },
          "400": {
            "description": "Objeto inválido"
          },
          "500": {
            "description": "Error interno"
          },
          "401": {
            "description": "No Autorizado"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/horas/user/{id}/{fecha_ini}/{fecha_fin}": {
      "get": {
        "tags": [
          "horas"
        ],
        "summary": "Get horas por usuario y fechas",
        "description": "",
        "operationId": "findAllByColaborador",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fecha_ini",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fecha_fin",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Hora"
              }
            }
          },
          "400": {
            "description": "Objeto inválido"
          },
          "401": {
            "description": "No Autorizado"
          }
        }
      }
    },
    "/horas/{id}": {
      "get": {
        "tags": [
          "horas"
        ],
        "summary": "Get hora",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "horas"
        ],
        "summary": "Edit hora",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/proyectos": {
      "get": {
        "tags": [
          "proyectos"
        ],
        "summary": "Get proyectos",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Proyecto"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "proyectos"
        ],
        "summary": "Create Proyecto",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/proyectos/{id}": {
      "get": {
        "tags": [
          "proyectos"
        ],
        "summary": "Get tipo Tarea",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "proyectos"
        ],
        "summary": "Edit proyecto",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/reportes": {
      "get": {
        "tags": [
          "reportes"
        ],
        "summary": "Get estimaciones",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estimacion"
              }
            }
          }
        }
      }
    },
    "/reportes/estimaciones/proyecto/tarea": {
      "post": {
        "tags": [
          "reportes"
        ],
        "summary": "Estimaciones de Proyecto y TipoTarea agrupadas por Cargo",
        "description": "",
        "operationId": "findEstimacionesProyectoTipoTareaXCargo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EstimacionProyectoTipoTareaXCargo"
              }
            }
          }
        }
      }
    },
    "/reportes/horas/proyecto": {
      "post": {
        "tags": [
          "reportes"
        ],
        "summary": "Horas de Proyecto agrupadas por Cargo",
        "description": "",
        "operationId": "findHorasProyectoXCargo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HorasProyectoXCargo"
              }
            }
          }
        }
      }
    },
    "/reportes/horas/proyecto/tarea": {
      "post": {
        "tags": [
          "reportes"
        ],
        "summary": "Horas de Proyecto y TipoTarea agrupadas por Cargo",
        "description": "",
        "operationId": "findHorasProyectoTipoTareaXCargo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HorasProyectoTipoTareaXCargo"
              }
            }
          }
        }
      }
    },
    "/reportes/horas/proyecto/tarea/cargo": {
      "post": {
        "tags": [
          "reportes"
        ],
        "summary": "Horas de Proyecto, TipoTarea y Cargo agrupadas por Colaborador",
        "description": "",
        "operationId": "findHorasProyectoTipoTareaCargoXColaborador",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HorasProyectoTipoTareaCargoXColaborador"
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get system status",
        "description": "",
        "operationId": "status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MagnesiumStatus"
            }
          }
        }
      }
    },
    "/tareas": {
      "get": {
        "tags": [
          "tareas"
        ],
        "summary": "Get tipos tarea",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TipoTarea"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tareas"
        ],
        "summary": "Create Tipo Tarea",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/tareas/{id}": {
      "get": {
        "tags": [
          "tareas"
        ],
        "summary": "Get tipo Tarea",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "tareas"
        ],
        "summary": "Edit tipo area",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Authenticate user",
        "description": "",
        "operationId": "authenticateUser",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    },
    "/users/recuperar": {
      "put": {
        "tags": [
          "auth"
        ],
        "summary": "Cambiar password",
        "description": "",
        "operationId": "cambiarPassword",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    },
    "/users/recuperar/{email}": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Recuperar password",
        "description": "",
        "operationId": "recuperarPassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/users/recuperar/{token}": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Recuperar email",
        "description": "",
        "operationId": "recuperarEmail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    }
  },
  "definitions": {
    "Cargo": {
      "type": "object",
      "required": [
        "codigo",
        "nombre"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nombre": {
          "type": "string"
        },
        "codigo": {
          "type": "string"
        },
        "precioHoraHistoria": {
          "type": "array",
          "uniqueItems": true,
          "items": {
            "$ref": "#/definitions/PrecioHora"
          }
        }
      }
    },
    "Proyecto": {
      "type": "object",
      "required": [
        "codigo",
        "nombre"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "codigo": {
          "type": "string"
        },
        "nombre": {
          "type": "string"
        }
      }
    },
    "HorasProyectoTipoTareaCargoXColaborador": {
      "type": "object",
      "properties": {
        "cantidadHoras": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "tipoTarea": {
          "$ref": "#/definitions/TipoTarea"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        },
        "colaborador": {
          "$ref": "#/definitions/Colaborador"
        }
      }
    },
    "HorasProyectoXCargo": {
      "type": "object",
      "properties": {
        "cantidadHoras": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        }
      }
    },
    "HoraDetalle": {
      "type": "object",
      "required": [
        "proyecto",
        "tipoTarea"
      ],
      "properties": {
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "tipoTarea": {
          "$ref": "#/definitions/TipoTarea"
        },
        "duracion": {
          "type": "string",
          "format": "date-time",
          "example": "PT23H59M"
        }
      }
    },
    "EstimacionDetalle": {
      "type": "object",
      "required": [
        "cargo",
        "duracion",
        "precioTotal",
        "tipoTarea"
      ],
      "properties": {
        "tipoTarea": {
          "$ref": "#/definitions/TipoTarea"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        },
        "duracion": {
          "type": "string",
          "format": "date-time",
          "example": "PT23H59M"
        },
        "precioTotal": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "MagnesiumStatus": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "node": {
          "type": "string"
        },
        "swaggerUrl": {
          "type": "string"
        },
        "docsUrl": {
          "type": "string"
        }
      }
    },
    "PrecioHora": {
      "type": "object",
      "required": [
        "precioHora",
        "vigenciaDesde"
      ],
      "properties": {
        "precioHora": {
          "type": "number",
          "format": "double"
        },
        "vigenciaDesde": {
          "type": "string",
          "format": "date",
          "example": "23-01-2017"
        }
      }
    },
    "TipoTarea": {
      "type": "object",
      "required": [
        "codigo",
        "nombre"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "codigo": {
          "type": "string"
        },
        "nombre": {
          "type": "string"
        }
      }
    },
    "Colaborador": {
      "type": "object",
      "required": [
        "email",
        "nombre",
        "role"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "nombre": {
          "type": "string"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        },
        "role": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "Hora": {
      "type": "object",
      "required": [
        "colaborador",
        "dia",
        "horaIn",
        "horaOut"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "dia": {
          "type": "string",
          "format": "date",
          "example": "23-01-2017"
        },
        "horaIn": {
          "type": "string",
          "format": "date-time",
          "example": "08:15"
        },
        "horaOut": {
          "type": "string",
          "format": "date-time",
          "example": "17:34"
        },
        "subtotal": {
          "type": "string",
          "format": "date-time",
          "example": "PT23H59M",
          "readOnly": true
        },
        "colaborador": {
          "$ref": "#/definitions/Colaborador"
        },
        "horaDetalleList": {
          "type": "array",
          "uniqueItems": true,
          "items": {
            "$ref": "#/definitions/HoraDetalle"
          }
        },
        "completa": {
          "type": "boolean",
          "readOnly": true,
          "default": false
        },
        "subtotalDetalles": {
          "type": "string",
          "format": "date-time",
          "example": "PT23H59M",
          "readOnly": true
        }
      }
    },
    "Estimacion": {
      "type": "object",
      "required": [
        "fecha",
        "proyecto"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "descripcion": {
          "type": "string"
        },
        "fecha": {
          "type": "string",
          "format": "date",
          "example": "23-01-2017"
        },
        "estimacionDetalleList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EstimacionDetalle"
          }
        }
      }
    },
    "HorasProyectoTipoTareaXCargo": {
      "type": "object",
      "properties": {
        "cantidadHoras": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "tipoTarea": {
          "$ref": "#/definitions/TipoTarea"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        }
      }
    },
    "EstimacionProyectoTipoTareaXCargo": {
      "type": "object",
      "properties": {
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "tipoTarea": {
          "$ref": "#/definitions/TipoTarea"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        },
        "precioTotal": {
          "type": "number",
          "format": "double"
        }
      }
    }
  }
}