{
  "swagger": "2.0",
  "info": {
    "description": "El login exitoso de UserService devuelve un Colaborador con un campo \"token\".\nDicho token se debe incluir como header de las llamadas del resto de las operaciones de cada servicio.",
    "version": "1.0-SNAPSHOT",
    "title": "Sulfur backend",
    "contact": {
      "name": "rsperoni@magnesium.coop"
    }
  },
  "host": "sulfur.mgcoders.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "auth"
    },
    {
      "name": "status"
    },
    {
      "name": "colaboradores"
    },
    {
      "name": "tareas"
    },
    {
      "name": "cargos"
    },
    {
      "name": "horas"
    },
    {
      "name": "proyectos"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/cargos": {
      "get": {
        "tags": [
          "cargos"
        ],
        "summary": "Get cargos",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Cargo"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "cargos"
        ],
        "summary": "Create Cargo",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/cargos/{id}": {
      "get": {
        "tags": [
          "cargos"
        ],
        "summary": "Get Cargo",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "cargos"
        ],
        "summary": "Edit cargo",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Cargo"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/colaboradores": {
      "get": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Get colaboradores",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Colaborador"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Create colaborador",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    },
    "/colaboradores/{id}": {
      "get": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Get colaborador",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      },
      "put": {
        "tags": [
          "colaboradores"
        ],
        "summary": "Edit colaborador",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    },
    "/horas": {
      "get": {
        "tags": [
          "horas"
        ],
        "summary": "Get horas",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Hora"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "horas"
        ],
        "summary": "Create hora",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          },
          "400": {
            "description": "Objeto inválido"
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/horas/{id}": {
      "get": {
        "tags": [
          "horas"
        ],
        "summary": "Get hora",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "horas"
        ],
        "summary": "Edit hora",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Hora"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/proyectos": {
      "get": {
        "tags": [
          "proyectos"
        ],
        "summary": "Get proyectos",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Proyecto"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "proyectos"
        ],
        "summary": "Create Proyecto",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/proyectos/{id}": {
      "get": {
        "tags": [
          "proyectos"
        ],
        "summary": "Get tipo Tarea",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "proyectos"
        ],
        "summary": "Edit proyecto",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Proyecto"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get system status",
        "description": "",
        "operationId": "status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MagnesiumStatus"
            }
          }
        }
      }
    },
    "/tareas": {
      "get": {
        "tags": [
          "tareas"
        ],
        "summary": "Get tipos tarea",
        "description": "",
        "operationId": "findAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TipoTarea"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tareas"
        ],
        "summary": "Create Tipo Tarea",
        "description": "",
        "operationId": "create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          "500": {
            "description": "Error interno"
          },
          "409": {
            "description": "Código o Id ya existe"
          }
        }
      }
    },
    "/tareas/{id}": {
      "get": {
        "tags": [
          "tareas"
        ],
        "summary": "Get tipo Tarea",
        "description": "",
        "operationId": "find",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          "404": {
            "description": "Id no encontrado"
          }
        }
      },
      "put": {
        "tags": [
          "tareas"
        ],
        "summary": "Edit tipo area",
        "description": "",
        "operationId": "edit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TipoTarea"
            }
          },
          "304": {
            "description": "Error: objeto no modificado"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Authenticate user",
        "description": "",
        "operationId": "authenticateUser",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Colaborador"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Cargo": {
      "type": "object",
      "required": [
        "codigo",
        "nombre",
        "precioHora"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "nombre": {
          "type": "string"
        },
        "codigo": {
          "type": "string"
        },
        "precioHora": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Proyecto": {
      "type": "object",
      "required": [
        "codigo",
        "nombre"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "codigo": {
          "type": "string"
        },
        "nombre": {
          "type": "string"
        }
      }
    },
    "Hora": {
      "type": "object",
      "required": [
        "colaborador",
        "dia",
        "horaIn",
        "horaOut",
        "proyecto",
        "tipoTarea"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "dia": {
          "$ref": "#/definitions/LocalDate"
        },
        "horaIn": {
          "$ref": "#/definitions/LocalTime"
        },
        "horaOut": {
          "$ref": "#/definitions/LocalTime"
        },
        "subtotal": {
          "readOnly": true,
          "$ref": "#/definitions/LocalTime"
        },
        "proyecto": {
          "$ref": "#/definitions/Proyecto"
        },
        "tipoTarea": {
          "$ref": "#/definitions/TipoTarea"
        },
        "colaborador": {
          "$ref": "#/definitions/Colaborador"
        }
      }
    },
    "LocalTime": {
      "type": "object",
      "properties": {
        "hour": {
          "type": "integer",
          "format": "int32"
        },
        "minute": {
          "type": "integer",
          "format": "int32"
        },
        "second": {
          "type": "integer",
          "format": "int32"
        },
        "nano": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Era": {
      "type": "object",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MagnesiumStatus": {
      "type": "object",
      "properties": {
        "project": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "node": {
          "type": "string"
        },
        "swaggerUrl": {
          "type": "string"
        },
        "docsUrl": {
          "type": "string"
        }
      }
    },
    "IsoChronology": {
      "type": "object",
      "properties": {
        "calendarType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "TipoTarea": {
      "type": "object",
      "required": [
        "codigo",
        "nombre"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "codigo": {
          "type": "string"
        },
        "nombre": {
          "type": "string"
        }
      }
    },
    "LocalDate": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "string",
          "enum": [
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ]
        },
        "chronology": {
          "$ref": "#/definitions/IsoChronology"
        },
        "dayOfWeek": {
          "type": "string",
          "enum": [
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "leapYear": {
          "type": "boolean",
          "default": false
        },
        "dayOfMonth": {
          "type": "integer",
          "format": "int32"
        },
        "monthValue": {
          "type": "integer",
          "format": "int32"
        },
        "era": {
          "$ref": "#/definitions/Era"
        },
        "dayOfYear": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Colaborador": {
      "type": "object",
      "required": [
        "cargo",
        "email",
        "nombre",
        "role"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "nombre": {
          "type": "string"
        },
        "cargo": {
          "$ref": "#/definitions/Cargo"
        },
        "role": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      }
    }
  }
}